$headerBasic-color: #00a3d9;
$headerDarkerBasic-color: #29abd7;
$bodyBackground-color: #ecf0f1;
$leftWordColor: #9ea6ab;

.article{
  display: block;
  box-sizing: border-box;
  height: 120px;
  position: relative;
  padding: 10px 5px 10px 10px;
  overflow: hidden;
  outline-style: solid;
  outline-width: 4px;
  outline-color: $bodyBackground-color;
  border-bottom: solid 5px #ECF0FF;

}
body{
  background-color: $bodyBackground-color;
}
.btn-default{
  background-color: $headerDarkerBasic-color;
  border: none;
  color: white;
  &:hover{
    color: black;
    background-color: $headerDarkerBasic-color;
  }
}
.comment{
  color: $leftWordColor;
  font-size: smaller;
}
.contentArticle{
  //width: 300px;
  position:absolute;
  left: 43px;;
  padding-right: 80px;
  padding-left: 25px

  //display: flex;
}

#footer{
  position: fixed;
  bottom: 0;
}
.glyphicon-share-alt{
  -webkit-transform:scaleX(-1);
  -moz-transform:scaleX(-1);
  -ms-transform:scaleX(-1);
  -o-transform:scaleX(-1);
  transform:scaleX(-1);

}
header{
  background-color:$headerBasic-color;
  height: 80px;
}

div.infoArticle{
  padding-top: 5px;
      &:first-child{
        padding-top:9px;
      }
}
.imageUser{
  width: 43px;
  height: 48px;
}
.label-primary{
  background-color: $headerBasic-color;
}
.leftAuthor{
  width: 30px;
  //position: fixed;
  float: left;
  height: inherit;
}
#leftContent{
  padding: 1em;
}
#leftMain{
  background-color: #ffffff;
}
#leftSpace{
  background-color: $bodyBackground-color;
}
.login{
  padding-left: 20px;
  background-color:$headerBasic-color;
  margin: 10px;
  border: none;
  color: white;
  font-style: normal;
  &:hover{
    color: black;
  }
}
#loginClass{
  background-color: $headerBasic-color;
  border:none;
}
.glyphicon-ok{
  padding-top: 1em;
  padding-left: 1em;
  color: #9ea6ab;
}
.pull-left{
  padding-top: 20px;
  padding-left: 120px;
}
.pull-right{
  padding-top: 20px;
  padding-left: 80px;
}

#rightContent{
  padding-top: 1em;
}
.rightInfo{
  position: absolute;
  right:0;
  top: 4px;
  height: inherit;
  width: 90px;
  padding-left: 10px;
  font-size: smaller;
  color: $leftWordColor;
  border-left:solid 1px #ECF0FF;

}
#rightSpace{
  background-color: $bodyBackground-color;
}

#srch-term{
  background-color: $headerDarkerBasic-color;
  border: none;
  color: white;
}

.title{
  font-size: x-large;
  float: left;
  padding-left: 220px;
  font-style: italic;
  color: white;
}

.titleArticle{

  display: block;
  text-transform: uppercase;
  font-weight: bolder;
  color: $headerBasic-color;

}

